.container {
  max-width: 960px;
  padding: 0 20px;
  margin: 70px auto;
}

.container h2 {
  border-bottom: solid;
  padding-bottom: 3px;
}

.orgs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.org {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.org img {
  height: 90px;
  filter: grayscale(1);
}
